<!DOCTYPE html>
{%  extends 'index.html'%}
{% load static %}
{% load widget_tweaks %}
{% block headblock %}
	<title>Signup</title>
{% endblock %}

{% block navblock %}
    <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/editprofile">Edit Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/createfont">Create Font</a>
    </li>
	<li class="nav-item">
		<a href="/changepassword" class="nav-link">Change Password</a>
	</li>
	<li class="nav-item">
		<a href="/logout" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
	</li>
    {%else%}
	<li class="nav-item">
		<a href="/login" class="nav-link">Login</a>
	</li>
	<li class="nav-item active">
		<a href="/signup" class="nav-link"><span class="glyphicon glyphicon-user"></span> Signup</a>
	</li>
    {% endif %}
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-6 text-center mb-5">
			<h2 class="heading-section">Signup</h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4">
			<div class="login-wrap p-0">
				<form action="signup" method="POST" class="signin-form" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						{% for field in form.visible_fields %}
							{% render_field field class="form-control" placeholder=field.label %}
						{% endfor %}
					</div>
					<div class="form-group">
						<button type="submit" class="form-control btn btn-primary submit px-3">Signup</button>
					</div>
				</form>
				{% for message in messages%}
					<h3 style='font-weight:bold;'>{{message}}</h3>
				{% endfor%}
			</div>
		</div>
	</div>
<!--	<div class="box">
		<div class="login">
			<div id="in"></div>
			<button type="button" class="button">Signup</button>
		</div>
		<form class="input" method='POST', action='signup' enctype="multipart/form-data">
			{%csrf_token%}
				{% for field in form.visible_fields %}
					{% render_field field class="details" placeholder=field.label %}
				{% endfor %}
				<button type="submit" class="submitbutton">Register</button>
		</form>
	</div>-->
{% endblock %}